<link href="assets/stylesheets/search.css" rel="stylesheet" type="text/css">
<div class="col-md-offset-1 col-md-4">
  <h1>
  Search
  </h1>

	<%= form_tag("/items/search", method: "get") do %>
 		<div class= "drop_down">
 			<%= label_tag(:s, "Seach for “Any of these conditions (OR)” vs. “All of these conditions (AND)") %>
  			<%= select_tag(:s, options_for_select([['and', 1], ['or', 2]])) %>
  		</div>
  		<div class= "form">
  			<%= label_tag(:q, "Search for item title:") %>
  			<%= text_field_tag(:q) %>
		<div class= "form">
  			<%= label_tag(:w, "Search for item description:") %>
  			<%= text_field_tag(:w) %>
  		</div>	
  		<div class= "form">
  			<%= label_tag :category, "select category:" %>
  			<%= select_tag(:category, options_for_select(Category.all.map {|c| [c.title, c.id]}), class: "form-control") %>
  		</div>
  		
  		<div class= "submit">
  			<%= submit_tag("Search") %>
		</div>
 	 
	<% end %>

</div>
